{:paths ["src" "resources"]

 :deps
 {com.auth0/java-jwt {:mvn/version "3.19.2"}
  com.auth0/jwks-rsa {:mvn/version "0.21.1"}
  integrant/integrant {:mvn/version "0.8.0"}
  com.github.oliyh/martian {:mvn/version "0.1.21"}
  com.github.oliyh/martian-clj-http {:mvn/version "0.1.21"}
  org.clojure/clojure {:mvn/version "1.10.3"}
  ring/ring-codec {:mvn/version "1.2.0"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  clj-time/clj-time {:mvn/version "0.15.2"} ;; NOTE this dep is only required because of swirrl.auth0.mock
  }

 :mvn/repos
 {"swirrl-jars-releases" {:url "s3://swirrl-jars/releases/"}
  "swirrl-jars-snapshots" {:url "s3://swirrl-jars/snapshots/"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :jvm-opts ["-Dclojure.main.report=stderr"
                    "-Dclojure.core.async.go-checking=true"]
        :main-opts ["-m" "kaocha.runner"]
        :extra-deps {aero/aero {:mvn/version "1.1.6"}
                     integrant/repl {:mvn/version "0.3.2"}
                     lambdaisland/kaocha {:mvn/version "1.67.1055"}
                     lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                     environ/environ {:mvn/version "1.2.0"}}}

  :doc {:extra-deps {ring/ring {:mvn/version "1.9.4"}}
        :extra-paths ["doc"]
        :main-opts ["-m server"]}}}
