{:paths ["src" "resources"]

 :deps
 {com.auth0/java-jwt {:mvn/version "3.18.2"}
  com.auth0/jwks-rsa {:mvn/version "0.20.0"}
  integrant/integrant {:mvn/version "0.8.0"}
  martian/martian {:mvn/version "0.1.10"}
  martian-clj-http/martian-clj-http {:mvn/version "0.1.10"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  ring/ring-codec {:mvn/version "1.1.2"}
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  clj-time/clj-time {:mvn/version "0.14.0"} ;; NOTE this dep is only required because of swirrl.auth0.mock
  }

 :mvn/repos
 {"swirrl-jars-releases" {:url "s3://swirrl-jars/releases/"}
  "swirrl-jars-snapshots" {:url "s3://swirrl-jars/snapshots/"}}

 :aliases
 {:dev {:extra-deps {aero/aero {:mvn/version "1.1.6"}
                     environ/environ {:mvn/version "1.2.0"}
                     integrant/repl {:mvn/version "0.3.2"}
                     lambdaisland/kaocha {:mvn/version "1.60.977"}}}

  :test {:extra-paths ["test"]
         :extra-deps {clj-time/clj-time {:mvn/version "0.15.2"}
                      lambdaisland/kaocha {:mvn/version "1.60.977"}}}

  :kaocha {:jvm-opts ["-Dclojure.main.report=stderr"
                      "-Dclojure.core.async.go-checking=true"]}

  :doc {:extra-deps {ring/ring {:mvn/version "1.7.1"}}
        :extra-paths ["doc"]
        :main-opts ["-m server"]}}}
